<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>
Show dishes
<a href="http://localhost:8080/dishes/show">Show</a>
<br>
Insert dish
<a href="http://localhost:8080/dishes/insert">Insert</a>
</body>
</html>
