<!DOCTYPE html>
<html>
<head>
	<title>Show</title>
</head>
<body>
<div>

 <h1><%= username %></h1>
 <h1><%= age %></h1>
    <img src='http://localhost:8080/dishes/profile/<%= userid %>/picture' style='width:500px;height:500px;' />

</div>
</body>
</html>

