<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>

<form method="post" action="/dishes" enctype="multipart/form-data">

<label>username</label>
<input type="text"  name="username">

<label>age</label>
<input type="number" name="age">

<label>upl</label>
<input type="file"  name="upl">


<button type="submit">Submit</button>

</form>

</body>
</html>